.container {
    padding: var(--mantine-spacing-xl);
}

.title {
    margin-bottom: var(--mantine-spacing-lg);
}

.search {
    margin-bottom: var(--mantine-spacing-md);
}

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--mantine-spacing-xl) 0;
    margin-top: var(--mantine-spacing-xl);
}

.table-row {
    cursor: pointer;
}

.last-contacted-warning {
    color: var(--mantine-color-yellow-8);
}

.last-contacted-danger {
    color: var(--mantine-color-red-7);
}
