.container {
    padding: var(--mantine-spacing-xl);
    max-width: 800px;
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back {
    margin-bottom: var(--mantine-spacing-sm);
}

.header {
    display: flex;
    align-items: center;
    gap: var(--mantine-spacing-md);
    margin-bottom: var(--mantine-spacing-lg);
}

.card {
    margin-bottom: var(--mantine-spacing-lg);
}
